:root {
    --color-green: #c6e8bc;
    --color-gray: rgb(231, 231, 231);
    --color-darkGray : rgb(84,84,84);
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Poppins;
}


#searchInput {
    color: var(--color-gray); border: 0; border-radius: 30px;
}



.container{
    width: calc(100% - 120px);
    margin: auto;
}

header{
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .searchBar {
        margin-top: 0.5rem;
        margin-right: auto;  
    }

    .header-option {
        margin-top: 0.5rem;
        padding-left: 5rem;
    }

    .currentDetails, .searchBar {
        margin-top: 0.5rem;
        display: flex;
    }
}

.options {
    padding: 1.2rem, 0;
    .options-btn{
        background-color: var(--color-gray);
        border-radius: 2rem;
        padding: 0.5rem;
        border:0;
        font-size: medium;
        width: auto;
        letter-spacing: 0.6px;
    }
    .options-btn-selected{
        background-color: black;
        border-radius: 2rem;
        padding: 0.5rem;
        border:0;
        font-size: medium;
        color:white;
        width: auto;
        letter-spacing: 0.6px;
    }
}

.categories {
    margin-top: 1rem;
    margin-bottom: 3rem;

    .categories-btn {
        background-color: var(--color-gray);
        border-radius: 2rem;
        border:0;
        margin-left: 3rem;
        margin-top:1rem;
        padding: 1rem;
    }
}

.listings {
    .header {
        display: flex;
        align-items: center;

         

        .header-viewOptions {
            margin-left: auto;
            display:flex;
            align-items: center;

            .viewAll{
                color:var(--color-green);
                padding-right: 2rem;
            }

            .viewMore {
                .arrow {
                    width: 40px;
                    height: 40px;
                    background-color: var(--color-gray);
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    opacity: 0.3;
                    transition: all 0.2s ease-out;
                    cursor: pointer;
                    &.dark,
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
    }
    .listings-grid {
        display: flex;
        .listings-grid-element{
            padding-right: 20px;
            margin-top: 0.5rem;
            width: 25%;
            .image {
                height: 180px;
            }

        }
    }
}



.bannerSubenshi {
    width: 100%;
    height: 240px;
    background-image: url(./imgs/subenshiBanner.jpeg);
    background-position: center center;
}

.bannerRamona{
    width: 100%;
    height: 240px;
    background-image: url(./imgs/ramonaBanner.jpeg);
    background-position: center center;
}

.bannerClandestino{
    width: 100%;
    height: 240px;
    background-image: url(./imgs/clandestinoBanner.avif);
    background-position: center center;
}

#subenshi-top {
    margin-top: 1rem;
}

#subenshi-info{
    font-size: small;
    color: var(--color-darkGray);
}

#schedule-btn {
    background-color: var(--color-gray);
    border: 0;
    border-radius: 40px;
    padding: 0.3rem;
    margin-top: 1rem;
}

.index {
    margin-top: 2rem;
    display: inline;
    width: 33%;
}

.display {
    display:flex;
    width: calc(100% - 40px);
}

#countinueShoppingBtn{
    background-color: var(--color-gray);
    border: 0;
    border-radius: 20px;
    padding: 0.3rem;
    margin-top: 1rem;
}

/* cart items */
.cart-img {
    margin-top: 0.5rem;
    width: 5rem;
    height: 5rem;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    
}


.shopping-cart.active {
    right: 2rem;
    transition: .4s linear;
}


/* this is the css for the Usersettings.html , etc...*/
.settings-user-container{
    display: flex;
    flex: 1;
    height: 100vh;
}
.sidebar {
    color: var(--color-gray);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 368px;
    height: 944px;
    background-color: black;
}
.sidebar-list{
    align-self: center;
}

.sidebar-item{
    display: flex;
    background-color: var(--color-gray);
    color: black;
    border-radius: 30px;
    width: 320px;   
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 64px;
    margin-bottom: 20px;
    border-style: none;
}
.sidebar hr {
    background-color: white;
    height: 2px;
}
.sidebar-leaf{
    color: var(--color-green);
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 125px;
    rotate: 45deg;
}
.sidebar-leave{
    background-color: #ba4c68;
    display: flex;
    border-radius: 30px;
    width: 320px;   
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 64px;
    margin-bottom: 20px;
    border-style: none;
}
.selected{
    scale:1.07;
    background-color: var(--color-green);
}
.settings-user-content{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.settings-user-content hr{
    height: 2px;
    background-color: black;
}
.settings-user-title{
    display: flex;
    width: 100%;
    height: 114px;
    align-items: center;
    justify-content: center;
}
.settings-user-img{
    display: inline-block;
    margin-left: 100px;
    margin-top: 50px;
}
.settings-user-img img{
    border-radius: 30px;
    height: 300px;
    width: 300px;
}
